// Ширина ограничивающего контейнера
$mainContainer: 1874px;

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet:  991.98px;

// Цвет фона по умолчанию
$mainColorBg: #F1F1F1;

// Цвет шрифта по умолчанию
$mainColorFont: #000;

// Размер шрифта по умолчанию
$fontSizeDefault: 14;