._label {
    &-list {

        &__instruction {
            background: #FFF;
            border-radius: 10px;
            transition: max-height 0.3s ease-in-out;
            margin-top: 25px;
            font-size: 16px;
            font-weight: 500;
            padding: 0 16px;
            cursor: pointer;
            line-height: 21px;
            max-height: 44px;
            overflow: hidden;
            &-header {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 10px;
            }

            &-wrapper {
                display: flex;
                align-items: center;
            }

            &-text {
                padding-bottom: 21px;
            }

        }

        &__img {
            margin: 25px 0;
        }
        
        &__instruction._open{
            svg {
                transform: rotate(-180deg);
            }
        }

        &__card {
            margin: 20px 0;
            width: 100%;
            padding: 11px 7.5px 18px 22.49px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            position: relative;
            border-radius: 10px;
            background: #FFF;
        }

        &__favourites {
            cursor: pointer;
        }

        &__favourites._active {
            path {
                fill: red;
            }
        }

        &__tags {
            span {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 13px;
        }

        &__title {
            font-size: 26px;
            font-weight: 700;
        }

        &__category {
            color: #FFF;
            font-size: 12px;
            font-weight: 500;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 21px;
            padding-bottom: 8px;
            padding-top: 4px;
            padding-left: 6px;

            border-radius: 0px 10px;
            background: #5B7499;
            min-width: 10px;
        }

        &__text {
            transition: max-height 0.3s ease-in-out 0s;
            margin-top: 22px;
            font-size: 16px;
            font-weight: 500;
            overflow: hidden;
            max-height: 34px;

            &-body {
                padding-bottom: 10px;
            }
        }

        &__next {
            font-size: 16px;
            margin-top: 29px;
            font-weight: 600;
            cursor: pointer;
        }

        &__smail {
            display: flex;
            margin-top: 11px;
            align-items: center;

            li {
                cursor: pointer;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                span {
                    cursor: pointer;
                    margin-left: 5px;
                }
            }
        }

        &__category._green {
            background-color: #5B996C;
        }

        &__advertisement {
            width: 100%;
            display: flex;
            justify-content: center;
            display: none;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__inner {
            display: flex;
            align-items: center;
        }

        &__comment {
            display: flex;
            cursor: pointer;
            align-items: center;
        }

        &__btn {
            font-weight: 600;
            margin-left: 5px;
            cursor: pointer;
        }

        &__border {
            border-radius: 7px;
            border: 1px solid #D9D9D9;
            background: #FFF;
            padding: 7px 11px;

            &-padding {
                padding: 2px 9px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                background: #FFF;
            }
        }
    }

    &-btn {
        border-radius: 10px;
        border: 2px solid #D9D9D9;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 27px;
        height: 42px;

        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: #F6F6F6;
        }
    }
}