<!-- Удалил ссылки из li -->
<aside class="nav">
    <nav class="nav__menu">
        <ul class="nav__menu-list">
            <li class="_active-tab" data-tab="tab-1"><img src="./images/menu/like.webp" alt="Главная">Главная</li>
            <li data-tab="tab-2"><img src="./images/menu/rocket.webp" alt="Популярное">Популярное</li>
        </ul>
        <div class="nav__menu-inner">
            <div class="nav__menu-title">Темы</div>
            <ul class="nav__menu-list">
                <li data-tab="tab-3"><img src="./images/menu/sport.webp" alt="Спорт">Спорт</li>
                <li data-tab="tab-4"><img src="./images/menu/funny.webp" alt="Смешное">Смешное</li>
                <li data-tab="tab-5"><img src="./images/menu/adult.webp" alt="Взрослое">Взрослое</li>
            </ul>
        </div>
        <ul class="nav__menu-list">
            <li data-tab="tab-6"><img src="./images/menu/about-the-project.webp" alt="О проекте">О проекте</li>
            <li class="SOS" data-tab="tab-7"><img src="./images/menu/sos.webp" alt="Помощь">Помощь</li>
        </ul>
    </nav>
</aside>