<aside class="nav">
    <nav class="nav__menu">
        <ul class="nav__menu-list">
            <li class="_active"><img src="./images/menu/like.webp" alt="Главная"><a href="#">Главная</a></li>
            <li><img src="./images/menu/rocket.webp" alt="Популярное"><a href="#">Популярное</a></li>
        </ul>
        <div class="nav__menu-inner">
            <div class="nav__menu-title">Темы</div>
            <ul class="nav__menu-list">
                <li><img src="./images/menu/sport.webp" alt="Спорт"><a href="#">Спорт</a></li>
                <li><img src="./images/menu/funny.webp" alt="Смешное"><a href="#">Смешное</a></li>
                <li><img src="./images/menu/adult.webp" alt="Взрослое"><a href="#">Взрослое</a></li>
            </ul>
        </div>
        <ul class="nav__menu-list">
            <li><img src="./images/menu/about-the-project.webp" alt="О проекте"><a href="#">О проекте</a></li>
            <li><img src="./images/menu/sos.webp" alt="Помощь"><a href="#">Помощь</a></li>
        </ul>
    </nav>
</aside>