<div class="popup popup-comment">
    <div class="popup-comment__window">
        <div class="popup-comment__list">
            <div class="popup-comment__box">
                <div class="_label-list__tags">
                    <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
                </div>
                <button class="popup-comment__close">
                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.42388" y="0.503418" width="21.647" height="2.01367" rx="1.00684"
                            transform="rotate(45 1.42388 0.503418)" fill="black" />
                        <rect y="15.3067" width="21.647" height="2.01367" rx="1.00684" transform="rotate(-45 0 15.3067)"
                            fill="black" />
                    </svg>
                </button>
            </div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Проверка поста</h1>
                <div class="_label-list__favourites">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="comment__mt">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст
                Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст Текст текст текст
                текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст Текст текст текст
                текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__img"><img src="./images/post-img.webp" alt=""></div>
            <div class="_label-list__box">
                <ul class="_label-list__smail">
                    <li class="_label-list__border-padding"><img src="./images/smail/laughter.webp"
                            alt="laughter"><span>123</span></li>
                    <li class="_label-list__border-padding"><img src="./images/smail/agressive.webp"
                            alt="agressive"><span>123</span></li>
                    <li class="_label-list__border-padding"><img src="./images/smail/crying.webp"
                            alt="crying"><span>123</span></li>
                    <li class="_label-list__border-padding"><img src="./images/smail/like.webp"
                            alt="like"><span>123</span></li>
                </ul>
            </div>
        </div>
        <div class="popup-comment__list">
            <div class="comment__count">Всего комментариев <span>123</span></div>
            <div class="comment__input"><textarea name="comment" id="comment"
                    placeholder="Напишите комментарий"></textarea></div>
            <button class="comment__btn _label-btn">Отправить</button>
        </div>
        <ul class="comment__list">
            <li class="comment__list-item">
                <div class="comment__list-profile">
                    <div class="comment__list-profile_avatar _img">
                        <img src="./images/profile-comment.webp" alt="">
                    </div>
                    <div class="comment__list-profile_info">
                        <span>Имя профиля</span>
                        <span>Вчера <span>23:10</span> МСК</span>
                    </div>
                </div>
                <p class="comment__list-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat ex ratione quaerat ea
                    quisquam exercitationem dignissimos consequuntur ducimus quidem atque, doloribus harum totam
                    possimus. Omnis cumque explicabo facilis dignissimos.
                </p>
            </li>
            <li class="comment__list-item">
                <div class="comment__list-profile">
                    <div class="comment__list-profile_avatar _img">
                        <img src="./images/profile-comment.webp" alt="">
                    </div>
                    <div class="comment__list-profile_info">
                        <span>Имя профиля</span>
                        <span>Вчера <span>23:10</span> МСК</span>
                    </div>
                </div>
                <p class="comment__list-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat ex ratione quaerat ea
                    quisquam exercitationem dignissimos consequuntur ducimus quidem atque, doloribus harum totam
                    possimus. Omnis cumque explicabo facilis dignissimos.
                </p>
            </li>
            <li class="comment__list-item">
                <div class="comment__list-profile">
                    <div class="comment__list-profile_avatar _img">
                        <img src="./images/profile-comment.webp" alt="">
                    </div>
                    <div class="comment__list-profile_info">
                        <span>Имя профиля</span>
                        <span>Вчера <span>23:10</span> МСК</span>
                    </div>
                </div>
                <p class="comment__list-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat ex ratione quaerat ea
                    quisquam exercitationem dignissimos consequuntur ducimus quidem atque, doloribus harum totam
                    possimus. Omnis cumque explicabo facilis dignissimos.
                </p>
            </li>
            <li class="comment__list-item">
                <div class="comment__list-profile">
                    <div class="comment__list-profile_avatar _img">
                        <img src="./images/profile-comment.webp" alt="">
                    </div>
                    <div class="comment__list-profile_info">
                        <span>Имя профиля</span>
                        <span>Вчера <span>23:10</span> МСК</span>
                    </div>
                </div>
                <p class="comment__list-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat ex ratione quaerat ea
                    quisquam exercitationem dignissimos consequuntur ducimus quidem atque, doloribus harum totam
                    possimus. Omnis cumque explicabo facilis dignissimos.
                </p>
            </li>
            <li class="comment__list-item">
                <div class="comment__list-profile">
                    <div class="comment__list-profile_avatar _img">
                        <img src="./images/profile-comment.webp" alt="">
                    </div>
                    <div class="comment__list-profile_info">
                        <span>Имя профиля</span>
                        <span>Вчера <span>23:10</span> МСК</span>
                    </div>
                </div>
                <p class="comment__list-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat ex ratione quaerat ea
                    quisquam exercitationem dignissimos consequuntur ducimus quidem atque, doloribus harum totam
                    possimus. Omnis cumque explicabo facilis dignissimos.
                </p>
            </li>
        </ul>
    </div>
</div>