<main class="main main-index">
    <div class="main__wrapper">
        <!--=include section/index/news.html -->
        <!--=include section/index/popular.html -->
        <!--=include section/index/sport.html -->
        <!--=include section/index/laughter.html -->
        <!--=include section/index/adult.html -->
        <!--=include section/index/about-the-project.html -->
        <!--=include section/index/support.html -->
        <!--=include section/index/modal-autorization.html -->
    </div>
</main>