<div class="modal">
    <div class="modal__window">
        <div class="modal__close">
            <span></span>
        </div>
        <h3 class="modal__title">Что вы хотите сделать?</h3>
        <div class="modal__tabs">
            <button data-tab-modal-btn="1" class="modal__tabs-btn _active">Войти</button>
            <button data-tab-modal-btn="2" class="modal__tabs-btn">Зарегестрироваться</button>
        </div>
        <form class="modal__form" id="1">
            <div class="modal__form-box"><input type="text" placeholder="Ваш логин или имя пользователя"></div>
            <div class="modal__form-box"><input type="password" placeholder="Ваш пароль"></div>
            <a href="#" class="modal__form-link">Забыли пароль?</a>
            <button type="submit" class="_label-btn">Войти</button>
        </form>
        <form class="modal__form hidden" id="2">
            <div class="modal__form-box"><input type="text" placeholder="Введите эл. почту"></div>
            <div class="modal__form-box"><input type="password" placeholder="Ваш пароль"></div>
            <button type="submit" class="_label-btn">Войти</button>
        </form>
    </div>
</div>