<div class="modal">
    <div class="modal__window">
        <div class="modal__close">
            <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.82837" y="1" width="43" height="4" rx="2" transform="rotate(45 2.82837 1)" fill="black" />
                <rect y="30.4056" width="43" height="4" rx="2" transform="rotate(-45 0 30.4056)" fill="black" />
            </svg>
        </div>
        <h3 class="modal__title">Что вы хотите сделать?</h3>
        <div class="modal__tabs">
            <button data-tab-modal-btn="1" class="modal__tabs-btn _active">Войти</button>
            <button data-tab-modal-btn="2" class="modal__tabs-btn">Зарегестрироваться</button>
        </div>
        <form class="modal__form" id="1">
            <div class="modal__form-box"><input type="text" placeholder="Ваш логин или имя пользователя"></div>
            <div class="modal__form-box"><input type="password" placeholder="Ваш пароль"></div>
            <a href="#" class="modal__form-link">Забыли пароль?</a>
            <button type="submit" class="_label-btn">Войти</button>
        </form>
        <form class="modal__form hidden" id="2">
            <div class="modal__form-box"><input type="text" placeholder="Введите эл. почту"></div>
            <div class="modal__form-box"><input type="password" placeholder="Ваш пароль"></div>
            <button type="submit" class="_label-btn">Войти</button>
        </form>
    </div>
</div>