<div class="modal modal-add">
    <div class="modal-add__window">
        <div class="modal-add__header">
            <div class="modal-add__box">
                <h5 class="modal-add__title">Заголовок</h5>
                <input type="text">
            </div>
            <button class="modal-add__close">
                <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2.82837" y="1" width="43" height="4" rx="2" transform="rotate(45 2.82837 1)"
                        fill="black" />
                    <rect y="30.4056" width="43" height="4" rx="2" transform="rotate(-45 0 30.4056)" fill="black" />
                </svg>
            </button>
        </div>
        <div class="modal-add__wrapper">
            <select name="select" id="select" class="modal-add__select">
                <option value="" class="modal-add__select-item">Выберите запись</option>
                <option value="" class="modal-add__select-item">Спорт</option>
                <option value="" class="modal-add__select-item">Смешное</option>
                <option value="" class="modal-add__select-item">Взрослое</option>
            </select>
        </div>
        <div class="modal-add__textarea">
            <h6 class="modal-add__title">Ваша новость</h6>
            <textarea name="new" id="new">

            </textarea>
        </div>

        <div class="modal-add__tags">
            <input type="text" placeholder="#теги">
        </div>
        <button type="submit" class="modal-add__btn">Сохранить</button>
    </div>
</div>