<div class="modal modal-add">
    <div class="modal-add__window">
        <div class="modal-add__header">
            <div class="modal-add__profile">
                <div class="modal-add__arround"><img src="./images/U.svg" alt=""></div>
                <div class="modal-add__inner">
                    <span>User name</span>
                    <div class="modal-add__select">
                        <div class="_select-add"></div>
                        <div class="modal-add__select-box">
                            <div class="modal-add__item _select">Тег 1</div>
                            <div class="modal-add__item">Тег 2</div>
                            <div class="modal-add__item">Тег 3</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-add__box">
                <h5 class="modal-add__title">Заголовок</h5>
                <input type="text">
            </div>
            <button class="modal-add__close">
                <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2.82837" y="1" width="43" height="4" rx="2" transform="rotate(45 2.82837 1)"
                        fill="black" />
                    <rect y="30.4056" width="43" height="4" rx="2" transform="rotate(-45 0 30.4056)" fill="black" />
                </svg>
            </button>
        </div>
        <div class="modal-add__textarea">
            <h6 class="modal-add__title">Ваша новость</h6>
            <textarea name="new" id="new">

            </textarea>
        </div>
        <button type="submit" class="modal-add__btn">Сохранить</button>
    </div>
</div>