<section class="news news-index">
    <ul class="_label-list">
        <li class="_label-list__card">
            <div class="_label-list__tags">
                <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
            </div>
            <div class="_label-list__category">Категория 1</div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Заголовок</h1>
                <div class="_label-list__comment">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="_label-list__text">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__next">
                Прочитать дальше
            </div>
            <ul class="_label-list__smail">
                <li><img src="./images/smail/laughter.webp" alt="laughter"><span>123</span></li>
                <li><img src="./images/smail/agressive.webp" alt="agressive"><span>123</span></li>
                <li><img src="./images/smail/crying.webp" alt="crying"><span>123</span></li>
                <li><img src="./images/smail/like.webp" alt="like"><span>123</span></li>
            </ul>
        </li>
        <div class="_label-list__advertisement">
            <div class="_label-list__advertisement__img _img">
                <img src="./images/advertisement__horizontal.webp" alt="">
            </div>
        </div>
        <li class="_label-list__card">
            <div class="_label-list__tags">
                <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
            </div>
            <div class="_label-list__category _green">Категория 1</div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Проверка поста</h1>
                <div class="_label-list__comment">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="_label-list__text">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__next">
                Прочитать дальше
            </div>
            <ul class="_label-list__smail">
                <li><img src="./images/smail/laughter.webp" alt="laughter"><span>123</span></li>
                <li><img src="./images/smail/agressive.webp" alt="agressive"><span>123</span></li>
                <li><img src="./images/smail/crying.webp" alt="crying"><span>123</span></li>
                <li><img src="./images/smail/like.webp" alt="like"><span>123</span></li>
            </ul>
        </li>
        <li class="_label-list__card">
            <div class="_label-list__tags">
                <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
            </div>
            <div class="_label-list__category _green">Категория 1</div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Проверка поста</h1>
                <div class="_label-list__comment">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="_label-list__text">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__next">
                Прочитать дальше
            </div>
            <ul class="_label-list__smail">
                <li><img src="./images/smail/laughter.webp" alt="laughter"><span>123</span></li>
                <li><img src="./images/smail/agressive.webp" alt="agressive"><span>123</span></li>
                <li><img src="./images/smail/crying.webp" alt="crying"><span>123</span></li>
                <li><img src="./images/smail/like.webp" alt="like"><span>123</span></li>
            </ul>
        </li>
        <li class="_label-list__card">
            <div class="_label-list__tags">
                <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
            </div>
            <div class="_label-list__category _green">Категория 1</div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Проверка поста</h1>
                <div class="_label-list__comment">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="_label-list__text">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__next">
                Прочитать дальше
            </div>
            <ul class="_label-list__smail">
                <li><img src="./images/smail/laughter.webp" alt="laughter"><span>123</span></li>
                <li><img src="./images/smail/agressive.webp" alt="agressive"><span>123</span></li>
                <li><img src="./images/smail/crying.webp" alt="crying"><span>123</span></li>
                <li><img src="./images/smail/like.webp" alt="like"><span>123</span></li>
            </ul>
        </li>
        <li class="_label-list__card">
            <div class="_label-list__tags">
                <span>#Тег</span><span>#Тег2 </span><span>#Тег3</span>
            </div>
            <div class="_label-list__category _green">Категория 1</div>
            <div class="_label-list__header">
                <h1 class="_label-list__title">Проверка поста</h1>
                <div class="_label-list__comment">
                    <svg width="41" height="24" viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.67871 6.5C9.67871 4.84315 11.0219 3.5 12.6787 3.5H28.3375C29.9944 3.5 31.3375 4.84315 31.3375 6.5V18.8027C31.3375 19.5647 30.5194 20.0467 29.8529 19.6774L20.9928 14.7685C20.6913 14.6015 20.325 14.6015 20.0235 14.7685L11.1633 19.6774C10.4968 20.0467 9.67871 19.5647 9.67871 18.8027V6.5Z"
                            stroke="#333333" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <p class="_label-list__text">
                Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст текст текст текст Текст
                текст текст текст Текст текст текст текст Текст текст текст текст Текст текст
            </p>
            <div class="_label-list__next">
                Прочитать дальше
            </div>
            <ul class="_label-list__smail">
                <li><img src="./images/smail/laughter.webp" alt="laughter"><span>123</span></li>
                <li><img src="./images/smail/agressive.webp" alt="agressive"><span>123</span></li>
                <li><img src="./images/smail/crying.webp" alt="crying"><span>123</span></li>
                <li><img src="./images/smail/like.webp" alt="like"><span>123</span></li>
            </ul>
        </li>
    </ul>
</section>