<section class="sport news hidden" id="tab-3">
    <div class="_label-theme">
        <div class="_label-theme__wrapper">
            <div class="_label-theme__img _img">
                <img src="./images/sport-img.webp" alt="спорт">
            </div>
            <div class="_label-theme__panel">
                <div class="_label-theme__header">
                    <div class="_label-theme__sticker">
                        <img src="./images/sport-sticker.webp" alt="Стикер">
                    </div>
                    <div class="_label-btn">+ Подписаться</div>
                </div>
                <div class="_label-theme__box">
                    <div class="_label-theme__box-title">Новости спорта</div>
                    <div class="_label-theme__box-subscribers">Подписчики <span>1, 233</span></div>
                </div>
            </div>
        </div>
    </div>
    <!--=include ./label-list-theme.html -->
</section>