<section class="support news hidden" id="tab-7">
    <div class="support__info">
        <div class="about__info-header">
            <div class="about__info-logo _img">
                <img src="./images/Logo-black.webp" alt="logo">
            </div>
            <span>08.12.2023</span>
        </div>

        <h4 class="support__title">Помощь</h4>
        <h5 class="support__subtitle">Здесь мы собрали ответы на наиболее частые вопросы.</h5>

        <div class="support__box">
            <h6 class="support__category">Категория вопроса 1</h6>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">1</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <div class="_label-list__advertisement">
                <div class="_label-list__advertisement__img _img">
                    <img src="./images/advertisement__horizontal.webp" alt="">
                </div>
            </div>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">2</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">3</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">4</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">5</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">6</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">7</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="support__box">
            <h6 class="support__category">Категория вопроса 2</h6>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">1</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">2</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">3</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">4</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">5</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">6</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="support__list">
                <li class="support__list-item">
                    <div class="support__list-box">
                        <span class="support__list-number">7</span>
                        <span class="support__list-text">ВопросВопросВопросВопрос</span>
                        <div class="support__list-icon">
                            <svg width="35" height="19" viewBox="0 0 35 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 -0.696756 0.717308 0.696756 0 1.85693)"
                                    fill="#BDBDBD" />
                                <rect width="2.66528" height="23.9876" rx="1.33264"
                                    transform="matrix(0.717308 0.696756 -0.717308 0.696756 32.4435 0.0932617)"
                                    fill="#BDBDBD" />
                            </svg>
                        </div>
                    </div>
                    <div class="support__list-body">
                        <p class="support__list-descr">
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст
                            ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст
                            Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст
                            Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст
                            Текст Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст
                            Текст Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст
                            Текст Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст
                            Текст Текст ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст
                            Текст ТекстТекст Текст Текст Текст ТекстТекст ТекстТекст Текст Текст Текст Текст Текст
                            ТекстТекст Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст
                            Текст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст
                            Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст ТекстТекст Текст Текст
                            Текст ТекстТекст Текст
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>