.about {
    padding-top: 25px;

    &__info {
        border-radius: 10px;
        background: #FFF;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 21px;

        &-header {
            display: flex;
            align-items: flex-end;
            margin-bottom: 34px;

            span {
                font-size: 14px;
                margin-left: 23px;
                font-weight: 500;
            }
        }

        &-logo {
            max-width: 120px;
        }

        &-descr {
            font-size: 16px;
            font-weight: 600;
            line-height: 156.25%;
        }
    }

    &__contact {
        margin-top: 25px;
        border-radius: 10px;
        background: #FFF;
        padding-top: 26px;
        padding-bottom: 30px;
        padding-left: 21px;
        padding-right: 15px;

        &-wrap {
            display: flex;
            justify-content: space-between;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 21px;

            li {
                span {
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    margin-bottom: 5px;
                }

                a {
                    color: #1D4187;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration-line: underline;
                }
            }

            &_title {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }


}

.request {
    margin-right: 20px;
    max-width: 471px;

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__text {
        margin-top: 21px;
        font-size: 14px;
        font-weight: 500;
        line-height: 135.714%;

        a {
            color: #1D4187;
            font-size: 16px;
            font-weight: 500;
            text-decoration-line: underline;
        }
    }
}

.social {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__list {
        margin-top: 24px;
        display: flex;
        gap: 34px;

        li {
            .vk {
                &::before {
                    content: '';
                    width: 34px;
                    height: 34px;
                    display: block;
                    background: url('../images/social/vk.svg') center center/cover no-repeat;
                }
            }

            .ok {
                &::before {
                    content: '';
                    width: 34px;
                    height: 34px;
                    display: block;
                    background: url('../images/social/ok.svg') center center/cover no-repeat;
                }
            }

            .tg {
                &::before {
                    content: '';
                    width: 34px;
                    height: 34px;
                    display: block;
                    background: url('../images/social/tg.svg') center center/cover no-repeat;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .about {
        &__contact {
            &-wrap {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .request{
        margin-top: 20px;
        text-align: center;
    }
}