.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #3d3b3ba2;
    z-index: 100;
    justify-content: center;
    opacity: 0;
    overflow: auto;
    visibility: hidden;

    &__window {
        border-radius: 10px;
        position: relative;
        background: #F1F1F1;
        padding: clamp(50px, 15vw, 100px) clamp(20px, 15vw, 60px) clamp(40px, 15vw, 70px) clamp(20px, 15vw, 60px);
    }

    &__close {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 43px;
        gap: 7px;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 10px;
        transition: transform 0.6s ease-in-out 0s;

        &::before {
            transform: rotate(45deg);
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 15px;
            background: #000000;
        }

        &::after {
            position: absolute;
            transform: rotate(-45deg);
            bottom: 50;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 15px;
            background: #000000;
        }

        span {
            position: absolute;
            transform: scale(0);
            display: block;
            width: 100%;
            height: 4px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    &__tabs {
        margin-top: 31px;
        margin-bottom: 39px;
        display: flex;

        &-btn {
            background: #FFF;
            padding: 10px 23px;
            font-size: 16px;
            font-weight: 600;
        }

        &-btn._active {
            background-color: #E8E3E3;
        }
    }

    &__form {
        max-width: 378.098px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-box {
            width: 100%;

            input {
                width: 100%;
                height: 42px;
                padding: 0 19px;
                border-radius: 10px;
                border: 2px solid #D9D9D9;
                background: #FFF;
                font-size: 16px;
                font-weight: 300;

                &:placeholder {
                    color: #A59E9E;

                }
            }
        }

        &-link {
            color: #1D4187;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.modal._open{
    opacity: 1;
    visibility: visible;
}
.modal__form.hidden {
    display: none;
}